body, html
{
    height: 100%;
    padding: 0;
    margin: 0;
}

#editor, #viewer
{
    width: 100%;
    height: 50%;
}

#editor
{
    border-bottom: 2px solid #333333;
}

.highlight
{
    border: 1px solid orangered;
}
